<a href="https://colab.research.google.com/github/hilmanrozaini/UKM_SDA/blob/main/assignment3_p121535_STQD6324_hilman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#!pip install pyspark   # this is to install pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder\
            .master("local")\
            .appName("Colab")\
            .config("spark.ui.port", "4050")\
            .getOrCreate()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
from pyspark.sql.functions import avg, min, count, col, from_unixtime
#from pyspark.sql.functions import avg, min, count, col

## highest and lowest average movie rating

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.sql.functions import col, avg, count
from pyspark.sql import Row

# Load up movieID -> movie name dictionary
def loadMovieNames():
    movieNames = {}
    with open("/content/drive/MyDrive/STQD6324_Data_Management/project_3/u.item.txt", encoding="ISO-8859-1") as f:
        for line in f:
            fields = line.split('|')
            movieNames[int(fields[0])] = fields[1]
    return movieNames

# Convert u.data lines into (UserID, movieID, rating, timestamp) rows
def parseInput(line):
    fields = line.value.split()
    userId = int(fields[0])
    movieId = int(fields[1])
    rating = float(fields[2])
    timestamp = int(fields[3])
    return Row(userID=userId, movieID=movieId, rating=rating, timestamp=timestamp)

if __name__ == "__main__":
    # Create a SparkSession
    spark = SparkSession.builder.appName("MovieRatings").getOrCreate()

    # Load up our movieID -> name directory
    movieNames = loadMovieNames()

    # Get the raw data
    lines = spark.read.text("/content/drive/MyDrive/STQD6324_Data_Management/project_3/u.data.txt").rdd

    # Convert it to an RDD of Row objects with (userID, movieID, rating, timestamp)
    ratingsRDD = lines.map(parseInput)

    # Convert to a DataFrame and cache it
    ratings = spark.createDataFrame(ratingsRDD).cache()

    # Create an ALS collaborative filtering model from the complete data set
    als = ALS(maxIter=5, regParam=0.01, userCol="userID", itemCol="movieID", ratingCol="rating")
    model = als.fit(ratings)

    # Find movies rated more than 100 times
    ratingCounts = ratings.groupBy("movieID").count().filter(col("count") > 100)

    # Calculate average ratings and count for each movie
    averageRatings = ratings.groupBy("movieID").agg(avg("rating").alias("avg_rating"), count("rating").alias("rating_count"))

    # Join with rating counts and filter movies with more than 100 ratings
    moviesWithRatings = averageRatings.join(ratingCounts, "movieID").filter(col("count") > 100)

    # Sort movies by average rating in descending order
    bestMovies = moviesWithRatings.orderBy(col("avg_rating").desc()).limit(25)

    # Add movie titles and movie IDs to bestMovies DataFrame
    bestMovies = bestMovies.join(spark.createDataFrame(list(movieNames.items()), ["movieID", "title"]), "movieID")


    # Sort movies by average rating in ascending order
    worstMovies = moviesWithRatings.orderBy(col("avg_rating").asc()).limit(25)

    # Add movie titles and movie IDs to sortedMovies DataFrame
    worstMovies = worstMovies.join(spark.createDataFrame(list(movieNames.items()), ["movieID", "title"]), "movieID")

    # Display the top 25 movies with the best average rating
    print("Top 25 Movies with the best average rating:")
    bestMovies.select("movieID", "title", "rating_count", "avg_rating").show(truncate=False)

    # Display the top 25 movies with the worst average rating
    print("Top 25 Movies with the worst average rating:")
    worstMovies.select("movieID", "title", "rating_count", "avg_rating").show(truncate=False)




    # Stop the SparkSession
    spark.stop()

Top 25 Movies with the best average rating:
+-------+---------------------------------------------------------------------------+------------+------------------+
|movieID|title                                                                      |rating_count|avg_rating        |
+-------+---------------------------------------------------------------------------+------------+------------------+
|12     |Usual Suspects, The (1995)                                                 |267         |4.385767790262173 |
|50     |Star Wars (1977)                                                           |583         |4.3584905660377355|
|64     |Shawshank Redemption, The (1994)                                           |283         |4.445229681978798 |
|98     |Silence of the Lambs, The (1991)                                           |390         |4.28974358974359  |
|127    |Godfather, The (1972)                                                      |413         |4.283292978208232 |
|134    |Citizen Kane (1941)                                                        |198         |4.292929292929293 |
|169    |Wrong Trousers, The (1993)                                                 |118         |4.466101694915254 |
|172    |Empire Strikes Back, The (1980)                                            |367         |4.204359673024523 |
|174    |Raiders of the Lost Ark (1981)                                             |420         |4.252380952380952 |
|178    |12 Angry Men (1957)                                                        |125         |4.344             |
|272    |Good Will Hunting (1997)                                                   |198         |4.262626262626263 |
|285    |Secrets & Lies (1996)                                                      |162         |4.265432098765432 |
|313    |Titanic (1997)                                                             |350         |4.2457142857142856|
|318    |Schindler's List (1993)                                                    |298         |4.466442953020135 |
|357    |One Flew Over the Cuckoo's Nest (1975)                                     |264         |4.291666666666667 |
|408    |Close Shave, A (1995)                                                      |112         |4.491071428571429 |
|427    |To Kill a Mockingbird (1962)                                               |219         |4.292237442922374 |
|474    |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)|194         |4.252577319587629 |
|479    |Vertigo (1958)                                                             |179         |4.251396648044692 |
|480    |North by Northwest (1959)                                                  |179         |4.284916201117318 |
+-------+---------------------------------------------------------------------------+------------+------------------+
only showing top 20 rows

Top 25 Movies with the worst average rating:
+-------+--------------------------------------+------------+------------------+
|movieID|title                                 |rating_count|avg_rating        |
+-------+--------------------------------------+------------+------------------+
|29     |Batman Forever (1995)                 |114         |2.6666666666666665|
|38     |Net, The (1995)                       |120         |3.0083333333333333|
|53     |Natural Born Killers (1994)           |128         |2.953125          |
|122    |Cable Guy, The (1996)                 |106         |2.339622641509434 |
|225    |101 Dalmatians (1996)                 |109         |2.908256880733945 |
|231    |Batman Returns (1992)                 |142         |2.683098591549296 |
|235    |Mars Attacks! (1996)                  |217         |2.847926267281106 |
|240    |Beavis and Butt-head Do America (1996)|156         |2.7884615384615383|
|243    |Jungle2Jungle (1997)                  |132         |2.4393939393939394|
|252    |Lost World: Jurassic Park, The (1997) |158         |2.9430379746835444|
|259    |George of the Jungle (1997)           |162         |2.685185185185185 |
|260    |Event Horizon (1997)                  |127         |2.574803149606299 |
|264    |Mimic (1997)                          |101         |2.742574257425743 |
|289    |Evita (1996)                          |259         |2.9806949806949805|
|323    |Dante's Peak (1997)                   |240         |2.933333333333333 |
|325    |Crash (1996)                          |128         |2.546875          |
|358    |Spawn (1997)                          |143         |2.6153846153846154|
|411    |Nutty Professor, The (1996)           |163         |2.914110429447853 |
|476    |First Wives Club, The (1996)          |160         |3.01875           |
|546    |Broken Arrow (1996)                   |254         |3.031496062992126 |
+-------+--------------------------------------+------------+------------------+
only showing top 20 rows

## highest and lowest average movie rating with timestamp

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.sql.functions import col, avg, count
from pyspark.sql import Row

# Load up movieID -> movie name dictionary
def loadMovieNames():
    movieNames = {}
    with open("/content/drive/MyDrive/STQD6324_Data_Management/project_3/u.item.txt", encoding="ISO-8859-1") as f:
        for line in f:
            fields = line.split('|')
            movieNames[int(fields[0])] = fields[1]
    return movieNames

# Convert u.data lines into (UserID, movieID, rating, timestamp) rows
def parseInput(line):
    fields = line.value.split()
    userId = int(fields[0])
    movieId = int(fields[1])
    rating = float(fields[2])
    timestamp = int(fields[3])
    return Row(userID=userId, movieID=movieId, rating=rating, timestamp=timestamp)

if __name__ == "__main__":
    # Create a SparkSession
    spark = SparkSession.builder.appName("MovieRatings").getOrCreate()

    # Load up our movieID -> name directory
    movieNames = loadMovieNames()

    # Get the raw data
    lines = spark.read.text("/content/drive/MyDrive/STQD6324_Data_Management/project_3/u.data.txt").rdd

    # Convert it to an RDD of Row objects with (userID, movieID, rating, timestamp)
    ratingsRDD = lines.map(parseInput)

    # Convert to a DataFrame and cache it
    ratings = spark.createDataFrame(ratingsRDD).cache()

    # Create an ALS collaborative filtering model from the complete data set
    als = ALS(maxIter=5, regParam=0.01, userCol="userID", itemCol="movieID", ratingCol="rating")
    model = als.fit(ratings)

    # Find movies rated more than 100 times
    ratingCounts = ratings.groupBy("movieID").count().filter(col("count") > 100)


    # Calculate average ratings, minimum timestamp, and count for each movie
    # min timestamp should give the earliest (oldest) timestamp of movies
    averageRatings = ratings.groupBy("movieID").agg(avg("rating").alias("avg_rating"), min("timestamp").alias("timestamp"), count("rating").alias("rating_count"))


    # Join with rating counts and filter movies with more than 100 ratings
    moviesWithRatings = averageRatings.join(ratingCounts, "movieID").filter(col("count") > 100)

    # Sort movies by average rating in descending order and oldest timestamp
    bestMovies = moviesWithRatings.orderBy(col("avg_rating").desc(), col("timestamp").asc()).limit(25)

    # Add movie titles and movie IDs to bestMovies DataFrame
    bestMovies = bestMovies.join(spark.createDataFrame(list(movieNames.items()), ["movieID", "title"]), "movieID")

    # Sort movies by average rating in ascending order and oldest timestamp
    worstMovies = moviesWithRatings.orderBy(col("avg_rating").asc(), col("timestamp").asc()).limit(25)

    # Add movie titles and movie IDs to worstMovies DataFrame
    worstMovies = worstMovies.join(spark.createDataFrame(list(movieNames.items()), ["movieID", "title"]), "movieID")

    # Display the top 25 movies with the best average rating
    print("Top 25 Movies with the best average rating:")
    bestMovies.select("movieID", "title", "rating_count", "avg_rating", "timestamp").show(truncate=False)

    # Display the top 25 movies with the worst average rating
    print("Top 25 Movies with the worst average rating:")
    worstMovies.select("movieID", "title", "rating_count", "avg_rating", "timestamp").show(truncate=False)

    # Stop the SparkSession
    spark.stop()

Top 25 Movies with the best average rating:
+-------+---------------------------------------------------------------------------+------------+------------------+---------+
|movieID|title                                                                      |rating_count|avg_rating        |timestamp|
+-------+---------------------------------------------------------------------------+------------+------------------+---------+
|12     |Usual Suspects, The (1995)                                                 |267         |4.385767790262173 |874777491|
|50     |Star Wars (1977)                                                           |583         |4.3584905660377355|874729750|
|64     |Shawshank Redemption, The (1994)                                           |283         |4.445229681978798 |874777701|
|98     |Silence of the Lambs, The (1991)                                           |390         |4.28974358974359  |874786016|
|127    |Godfather, The (1972)                                                      |413         |4.283292978208232 |874781076|
|134    |Citizen Kane (1941)                                                        |198         |4.292929292929293 |874777623|
|169    |Wrong Trousers, The (1993)                                                 |118         |4.466101694915254 |874777890|
|172    |Empire Strikes Back, The (1980)                                            |367         |4.204359673024523 |874729901|
|174    |Raiders of the Lost Ark (1981)                                             |420         |4.252380952380952 |874729995|
|178    |12 Angry Men (1957)                                                        |125         |4.344             |874831383|
|272    |Good Will Hunting (1997)                                                   |198         |4.262626262626263 |882955387|
|285    |Secrets & Lies (1996)                                                      |162         |4.265432098765432 |874833746|
|313    |Titanic (1997)                                                             |350         |4.2457142857142856|882693234|
|318    |Schindler's List (1993)                                                    |298         |4.466442953020135 |874777948|
|357    |One Flew Over the Cuckoo's Nest (1975)                                     |264         |4.291666666666667 |874725485|
|408    |Close Shave, A (1995)                                                      |112         |4.491071428571429 |874784538|
|427    |To Kill a Mockingbird (1962)                                               |219         |4.292237442922374 |874789279|
|474    |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)|194         |4.252577319587629 |874777623|
|479    |Vertigo (1958)                                                             |179         |4.251396648044692 |874785728|
|480    |North by Northwest (1959)                                                  |179         |4.284916201117318 |875238923|
+-------+---------------------------------------------------------------------------+------------+------------------+---------+
only showing top 20 rows

Top 25 Movies with the worst average rating:
+-------+--------------------------------------+------------+------------------+---------+
|movieID|title                                 |rating_count|avg_rating        |timestamp|
+-------+--------------------------------------+------------+------------------+---------+
|29     |Batman Forever (1995)                 |114         |2.6666666666666665|874796373|
|38     |Net, The (1995)                       |120         |3.0083333333333333|874730553|
|53     |Natural Born Killers (1994)           |128         |2.953125          |874778274|
|122    |Cable Guy, The (1996)                 |106         |2.339622641509434 |874787150|
|225    |101 Dalmatians (1996)                 |109         |2.908256880733945 |874786854|
|231    |Batman Returns (1992)                 |142         |2.683098591549296 |874778424|
|235    |Mars Attacks! (1996)                  |217         |2.847926267281106 |874774956|
|240    |Beavis and Butt-head Do America (1996)|156         |2.7884615384615383|874786713|
|243    |Jungle2Jungle (1997)                  |132         |2.4393939393939394|874951039|
|252    |Lost World: Jurassic Park, The (1997) |158         |2.9430379746835444|874780832|
|259    |George of the Jungle (1997)           |162         |2.685185185185185 |874827960|
|260    |Event Horizon (1997)                  |127         |2.574803149606299 |874786439|
|264    |Mimic (1997)                          |101         |2.742574257425743 |874828296|
|289    |Evita (1996)                          |259         |2.9806949806949805|874815789|
|323    |Dante's Peak (1997)                   |240         |2.933333333333333 |874774449|
|325    |Crash (1996)                          |128         |2.546875          |874786419|
|358    |Spawn (1997)                          |143         |2.6153846153846154|874786419|
|411    |Nutty Professor, The (1996)           |163         |2.914110429447853 |874786807|
|476    |First Wives Club, The (1996)          |160         |3.01875           |874792403|
|546    |Broken Arrow (1996)                   |254         |3.031496062992126 |874775914|
+-------+--------------------------------------+------------+------------------+---------+
only showing top 20 rows